<!-- <div class="container">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <input type="text" class="form-control" (getvalue)="getname">
            </div>
        </div>
    </div>
</div> -->
<app-mygridoutputexample [headerlist]="headerpart" [employeelist]="employeelist" (getvalue)="getname($event)"></app-mygridoutputexample>
<app-passedmessage [result]="getresult" [color]="color"></app-passedmessage>
<table class="table table-bordered " *ngIf="hideshow"  >
    <tr>
        <th *ngFor="let header of headerpart">{{header}}</th>
    </tr>
    <tr *ngFor="let employee of getindex,let i=index">
        <td >{{employee.empname}}</td>
        <td >{{employee.empdes}}</td>
        <td >{{employee.empsal}}</td>
        <td><button class="btn btn-danger" (click)="delete(i)">x</button></td>
    </tr>
</table>

