<div class="card card-bordered">
    <div class="card-header">
        <h1>Employeelist</h1>
    </div>
    <div class="card-body" >
        <table class="table table-bordered">
            <tr>
                <th *ngFor="let header of headerlist">{{header}}</th>
            </tr>
            <tr *ngFor="let employee of employeelist, let i = index">
                <td >{{employee.empname}}</td>
                <td >{{employee.empdes}}</td>
                <td >{{employee.empsal}}</td>
                <td><button class="btn btn-success" (click)="update(i)">Select</button></td>
            </tr>
        </table>
    </div>
</div>
